<h1 mat-dialog-title>{{edit.action}}</h1>
<p>Edit user associated with: <strong>{{edit.email}}</strong></p>
<mat-divider></mat-divider>
<br>
<div mat-dialog-content>
  <mat-form-field>
      <mat-label>First Name:</mat-label>
      <input type="text" matInput placeholder="{{edit.firstName}}" autocomplete="off" size="50" [(ngModel)]="edit.firstName" />
  </mat-form-field>

  <mat-form-field>
      <mat-label>Last Name:</mat-label>
      <input type="text" matInput placeholder="{{edit.lastName}}" autocomplete="off" size="50" [(ngModel)]="edit.lastName" />
  </mat-form-field>

  <mat-form-field>
      <mat-label>Phone:</mat-label>
      <input type="text" matInput placeholder="{{edit.phone}}" autocomplete="off" size="50" [(ngModel)]="edit.phone"/>
  </mat-form-field>

  <mat-form-field>
      <mat-label>Address:</mat-label>
      <input type="text" matInput  placeholder="{{edit.address}}" autocomplete="off" size="50" [(ngModel)]="edit.address"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Role:</mat-label>
    <mat-select size="50" [(ngModel)]="edit.role">
      <mat-option *ngFor="let role of roles" value="{{role.role}}">{{role.role}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-actions fxLayoutAlign="end">
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button (click)="updateUser()">{{edit.action}}</button>
  <!--"updateUser(edit._id)"-->
</div>

