<div class="home">
    <div fxLayout="column">
      <mat-card fx-Flex style="margin-top: 15%; width: 50%; margin-left: 25%;" class="mat-elevation-z8">
        <mat-card-title style="text-align: center; font-size: 48px" class="mat-headline">Forgot Password</mat-card-title>
        <mat-divider style="margin-top: 3%;" [inset]="true"></mat-divider>
          <p style="text-align: center;">Return to the Bob's Computer Repair Shop home page by clicking the link below.</p>
          <mat-card-actions>
            <button fxFlex mat-raised-button color="primary" [routerLink]="['/']">Return to Homepage</button>
          </mat-card-actions>
      </mat-card>
    </div>
  </div>
