  <div class="aboutContainer" color="primary" style="padding:0px;">
      <div class="aboutBox">
        <h1 style="text-align: center;">About Us</h1>
        <div class="aboutText">
          <p>
            Bobs Computer repair shop custom builds desktop computers and laptops for every need! From home to business to even powerful gaming computers! With over 50 years of experience and locally owned, come and see us at our new location located at 1123 Farnam St, Omaha NE.
            Bobs Computer Repair shop brings to the table a local and personalized experience for each customer as well as a Lifetime Service Guarantee and 24 Hour Customer Support that is backed by our professionally trained tech support staff. So give us a call or stop by in to receive the warmest “Hello”!
          </p>
    </div>
  </div>
</div>
    <div  style="text-align: center;margin-top: 8%;;" class="flex-container" fxLayout="row">
        <h1 style="margin-left: 40%;">Meet some of our Employees</h1>
    </div>
    <div class="flex-container employeeContainer" fxLayout="row"  fxLayoutAlign="none">
        <div style="text-align: center;" class="employeeBox" fxFlex="33%">
              <div class="imageAlign">
                <img class="circleImage" src="assets/images/man1.jpg">
              </div>
              <div class="employeeText">
                <h2>Josh</h2>
                <h4>Customer Representative</h4>
                  <h3>
                    "Here at Bobs Computer Repair shop I strive to give the best customer service for our customers! I will make
                    sure you leave our shop feeling knowledgeable about our products and the type of services we offer"
                  </h3>
              </div>
        </div>
        <div class="employeeBox" fxFlex="33%">
            <div class="imageAlign">
              <img class="circleImage" src="assets/images/man2.jpg">
            </div>
            <div class="employeeText">
              <h2>Michael</h2>
              <h4>Tech Support</h4>
              <h3>
                "Hi I am your go to with any of your tech questions! I will make sure that all your questions get answered and you feel
                happy with all your tech repairs!"
              </h3>
            </div>
          </div>
      <div class="employeeBox" fxFlex="33%">
          <div class="imageAlign">
            <img class="circleImage" src="assets/images/man3.jpg">
          </div>
          <div class="employeeText">
            <h2>John</h2>
            <h4>Tech Represntative</h4>
            <h3>
              "Here at Bobs Computer Repair shop we make sure that your tech problems are solved! We offer 24/7 tech support and troubleshooting!"
            </h3>
          </div>
      </div>
  </div>
  <div class="flex-container companyContainer" fxLayout="row"  fxLayoutAlign="none">
      <div class="companyStory">
          <h1 style="text-align: center;">Bobs Computer Repair Shop Story and Values</h1>
          <p>Bobs Computer Repair shop first opened shop in Bobs Hudson garage in Omaha Nebraska. At first Bob was just building computers for his friends
            and family. No one knew a thing about technology and never thought they could afford a home computer of their own! Bob’s friends and family where
            so happy with their computers that they started referring Bob to their own friends and family. Soon enough Bob had over hundreds of orders!
          </p>
          <p>As the orders kept coming and the years went by, they bid farewell to their garage and settled at 1123 Farnam St in Omaha NE. Bobs computer Repair
            shop has grown to over 100 employees and does not seem to stop growing! The shop still offers computer repair and custom building, software updates
            and even virus control! With over 2,000 5-star reviews, it is no surprise that Bobs Computer Repair Shop is one of the most sought out shops in Omaha!
          </p>
          <p>Bob and his wife are known to stop by and help customers from time to time, but their values are shown by their employees every day! Bob wants his
            customers to know, “Our customers aren’t customers they are family!” Bob and his wife are very happy for the success they were given and are known
            to donate old computers to low income areas! They believe that having access to a computer is very important especially with how much technology
            has grown! They hope to continue their success and hope to see you at their shop!</p>
    </div>
</div>
