.aboutImage{
  background-size: cover;
  width: 100%;
}
.aboutSection{
  height:300px;
}
.aboutUsSection{
  height: 350px;
}
.aboutText{
  padding: 20px;
}
.aboutContainer{
  height: 100vh;
}
.employeeBox{
  padding: 25px;
}
.employeeText{
  text-align: center;
}
.circleImage{
  width:200px;
  height:200px;
  border-radius: 50%;
}
.imageAlign{
  text-align: center;
}
.aboutContainer{
  padding: 20px;
}