<div class="flex-container" fxLayout="row"  fxLayoutAlign="none">
  <div fxFlex="50%">
    <div class="aboutImage"></div>
  </div>
  <div fxFlex="50%">
      <div class="aboutContainer">
          <h1>About Us</h1>
          <div class="aboutText">
            <p>
              Here at Bobs Computer Repair shop we strive to give our customers the best customer service! We offer a variety
              of products and services that will surely satisfy any of your tech needs! Feel free to reach out to one of our awesome 
              representatives and we will make sure to answer any of your questions!
          </p>
      </div>
  </div>
</div>
<div class="man1"></div>
</div>
<div class="flex-container" fxLayout="row"  fxLayoutAlign="none">
<div fxFlex="30%">
  <div class="circleImage">
    <img src="">
  </div>
  <div class="employeeText">
    <h3>
      "Here at Bobs Computer Repair shop I strive to give the best customer service for our customers! I will make 
      sure you leave our shop feeling knowledgeable about our products and the type of services we offer"
    </h3>
  </div>
</div>
<div fxFlex="30%">
    <div class="circleImage">
      <img src="">
    </div>
    <div class="employeeText">
      <h3>
        "Hi I am your go to with any of your tech questions! I will make sure that all your questions get answered and you feel 
        happy with all your tech repairs!"
      </h3>
    </div>
  </div>
  <div fxFlex="30%">
      <div class="circleImage">
        <img src="">
      </div>
      <div class="employeeText">
        <h3>
          "Here at Bobs Computer Repair shop we make sure that your tech problems are solved! We offer 24/7 tech support and troubleshooting!"
        </h3>
      </div>
    </div>
  </div>
  <div class="flex-container" fxLayout="row"  fxLayoutAlign="none">
    <div class="companyStory">
      <h1>Bobs Computer Repair Shop Story and Values</h1>
      <p>Bobs Computer Repair shop first opened shop in Bobs Hudson garage in Omaha Nebraska. At first Bob was just building computers for his friends
        and family. No one knew a thing about technology and never thought they could afford a home computer of thier own. With the firset
        couple of computers built Bob felt happy seeing his friends and family happy with his computers. Word of mouth got around town 
        and soon enough Bob had hundreds of orders!
      </p>
      <p>As the years went by and they bid farewell to their garage, Bobs Computer Repair shop opened up in 1123 Farnam St in Omaha NE.
        Bobs computer Repair shop has grown to over 100 employees and so has thier services and products! The shop still offers customized 
        computers, computer repair, software updates and even virus control! With over 2,000 5 start reviews, it is no surprise that Bobs
        Computer Repair Shop strives to keep As the years went by and they bid farewell to their garage, Bobs Computer Repair shop opened up in 1123 Farnam St in Omaha NE.
        Bobs computer Repair shop has grown to over 100 employees and so has thier services and products! The shop still offers customized 
      </p>
    </div>
</div>