<div class="flex-container" fxLayout="row"  fxLayoutAlign="none">
  <div fxFlex="50%">
    <div class="aboutImage"></div>
  </div>
  <div fxFlex="50%">
      <div class="aboutContainer">
          <h1>About Us</h1>
          <div class="aboutText">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Dui ut ornare lectus sit amet est placerat in egestas. Sed nisi lacus sed viverra tellus. Nec nam aliquam sem et tortor.
              Vitae nunc sed velit dignissim sodales ut eu sem integer. Amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus.
              Euismod lacinia at quis risus sed vulputate odio ut enim. Vel facilisis volutpat est velit egestas dui id ornare arcu.
              Nunc sed augue lacus viverra vitae congue eu consequat. Nunc vel risus commodo viverra maecenas accumsan.
              Elit ullamcorper dignissim cras tincidunt. Eget est lorem ipsum dolor sit amet consectetur adipiscing elit.
              Convallis posuere morbi leo urna. Faucibus ornare suspendisse sed nisi. Aenean pharetra magna ac placerat vestibulum
              lectus mauris ultrices. Sit amet nulla facilisi morbi tempus. Nunc sed blandit libero volutpat sed cras. Vel eros donec
          </p>
      </div>
  </div>
</div>
</div>
<div class="flex-container" fxLayout="row"  fxLayoutAlign="none">

  </div>
