
  <div class="flex-container" fxLayout="row"  fxLayoutAlign="none" style="height: 100vh;">
   <div fxFlex="50%"><div class="loginImage"></div></div>
  <div fxFlex="50%">
    <div class="loginContainer">
        <h1>Log In</h1>
          <form [formGroup]="loginForm" >
        <div class="form-group">
            <mat-form-field appearance="fill" style="width:50%">
                <mat-label>Email:</mat-label>
                <input type="text" [formControl]="userEmail" required matInput placeholder="yourEmail@email.com">
              </mat-form-field>
          <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)">
             <p *ngIf="userEmail.errors.required">Email is required!</p>
          </div>
          </div>
          <br/>
          <div class="form-group">
              <mat-form-field appearance="fill" style="width:50%">
                  <mat-label>Password:</mat-label>
                  <input  type="password" [formControl]="userPassword" required matInput placeholder="Secret Password">
                </mat-form-field>
          </div>
           <div *ngIf="userPassword.invalid && (userPassword.dirty || userPassword.touched)">
             <p *ngIf="userPassword.errors.required">Password is required!</p>
          </div>
        </form>
        <button mat-raised-button (click)="onSubmit(loginForm)"  [disabled]="!loginForm.valid" color=primary style="margin-top: 20px; width:50%">Login</button>
        <p>Forgot Password?</p>
    </div>
    <div class="registerSection">
      <button mat-flat-button>Register</button>
    </div>
  </div>
</div>
