
  <mat-card style="margin: auto;margin-top: 30%;width: 50%;">
    <mat-card-title style="text-align: center;">Login Form</mat-card-title>
    <mat-card-content style="text-align: center;">
    <form [formGroup]="userLoginForm" >
        <div class="form-group">
          <label>
            Email:
            <input type="text" formControlName="email">
          </label>
          </div>
          <br/>
          <div class="form-group">
           <label>
            Password:
            <input type="text" formControlName="password">
          </label>
          </div>
        </form>
        <button mat-flat-button (click)="onSubmit()" color=primary style="margin-top: 20px;">Login</button>
    </mat-card-content>
  </mat-card>

