<div class="flex-container" fxLayout="row"  fxLayoutAlign="none" style="height: 100vh;">
  <div fxFlex="50%">
    <div class="loginContainer" layout-align="center center">
          <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value); ">

                <h1>User Information</h1>
                <div class="form-group">
                    <mat-form-field appearance="fill" style="width:50%">
                        <mat-label>First Name</mat-label>
                        <input type="text" [formControl]="registrationForm.controls['firstName']" required matInput placeholder="First Name">
                      </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="fill" style="width:50%">
                        <mat-label>Last Name</mat-label>
                        <input type="text"  [formControl]="registrationForm.controls['lastName']" required matInput placeholder="Last Name">
                      </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="fill" style="width:50%">
                        <mat-label>Phone Number</mat-label>
                        <input type="text"  [formControl]="registrationForm.controls['phone']" required matInput placeholder="Phone Number">
                      </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="fill" style="width:50%">
                        <mat-label>Address</mat-label>
                        <input type="text" [formControl]="registrationForm.controls['address']" required matInput placeholder="Address">
                      </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="fill" style="width:50%">
                        <mat-label>Email</mat-label>
                        <input type="email" [formControl]="registrationForm.controls['email']" (keyup)="checkEmail($event)" (blur)="checkEmail($event)" email required matInput placeholder="Email">
                      </mat-form-field>
                      <br>
                      <span *ngIf="emailInUse" style="color:red;">{{emailInUse}}</span>
                </div>



                <h1>Choose Username and Create Password</h1>
                <div class="form-group">
                    <mat-form-field appearance="fill" style="width:50%">
                        <mat-label>User Name</mat-label>
                        <input type="text" [formControl]="registrationForm.controls['userName']" (keyup)="checkUserName($event)" (blur)="checkUserName($event)" required matInput placeholder="Groovy nickname">
                      </mat-form-field>
                      <br>
                      <span *ngIf="userNameInUse" style="color:red;">{{userNameInUse}}</span>
                      <span *ngIf="userNameNotInUse" style="color:green;">{{userNameNotInUse}}</span>
                  </div>
                  <br/>

                  <div class="form-group">
                    <mat-form-field appearance="fill" style="width:50%">
                        <mat-label>Password</mat-label>
                        <input type="password" [formControl]="registrationForm.controls['password']"
                         minlength="8"
                        maxlength="30"
                        required matInput
                         placeholder="Create Password"
                         autocomplete="off">
                      </mat-form-field>

                      <div *ngIf="registrationForm.controls['password'].invalid && (registrationForm.controls['password'].dirty || registrationForm.controls['password'].touched)">
                        <mat-error fxLayoutAlign="end" *ngIf="registrationForm.controls['password'].errors.required">Password is required</mat-error>
                        <mat-error fxLayoutAlign="end" *ngIf="registrationForm.controls['password'].errors.pattern || registrationForm.controls['password'].errors.minlength">Password does not meet requirements</mat-error>
                      </div>

                  </div>
                  <br/>




                <h1>Choose security questions and answers</h1>
                <mat-form-field appearance="fill" style="width:50%">
                    <mat-label>Select your Security Questions</mat-label>
                    <mat-select  required [(value)]="selectedValue1" name=question>
                      <mat-option [value]="option.questionText" *ngFor="let option of securityQuestions">
                        {{option.questionText}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br/>

                    <div class="form-group">
                      <mat-form-field appearance="fill" style="width:50%">
                          <mat-label>Answer</mat-label>
                          <input type="text" matInput required [formControl]="registrationForm.controls['securityAnswer1']"/>
                        </mat-form-field>
                    </div>
                    <br/>
                  <br/>

                  <mat-form-field appearance="fill" style="width:50%">
                    <mat-label>Select your Security Questions</mat-label>
                    <mat-select name=question  required [(value)]="selectedValue2">
                      <mat-option [value]="option.questionText" *ngFor="let option of securityQuestions">
                          {{option.questionText}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br/>

                  <div class="form-group">
                      <mat-form-field appearance="fill" style="width:50%">
                          <mat-label>Answer</mat-label>
                          <input type="text" matInput required [formControl]="registrationForm.controls['securityAnswer2']"/>
                        </mat-form-field>
                    </div>


                  <br/>
                  <mat-form-field appearance="fill" style="width:50%">
                    <mat-label>Select your Security Questions</mat-label>
                    <mat-select name=question required [(value)]="selectedValue3">
                      <mat-option [value]="option.questionText"  *ngFor="let option of securityQuestions">
                          {{option.questionText}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br/>

                  <div class="form-group">
                      <mat-form-field appearance="fill" style="width:50%">
                          <mat-label>Answer</mat-label>
                          <input type="text" matInput required [formControl]="registrationForm.controls['securityAnswer3']"/>
                        </mat-form-field>
                    </div>


             </form>
             <button mat-raised-button type="submit" (click)="onSubmit(registrationForm.value)">Login</button>
             <!--(click)="onSubmit(registrationForm)"-->
          </div>
      </div>



      <div fxFlex="50%">
        <div class="loginImage"></div>
      </div>



</div>
